.banner {
  // margin-top: 16px;
  // border-top: 1px solid #000;
  padding-left: 0 !important;
  padding-right: 0 !important;

  &_container {
    display: flex;
    align-items: stretch;
    gap: 0 45px;
  }

  &_content-category {
    padding-top: 38px;
  }

  &_content-image {
    margin-top: 40px;
    margin-right: 0 !important;
    color: white;
    // flex: 1;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 14px 0;
  }

  &_item {
    display: inline-block;
    line-height: 24px;
    &-link {
      span {
        color: white;
      }
      text-decoration: none !important;
      font-size: 16px !important;
      font-weight: 400 !important;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      background: linear-gradient(to right, #f13030 50%, rgb(11, 11, 21) 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 400ms ease;
      text-decoration: none; // text decorations are clipped in WebKit browsers
      &:hover {
        background-position: 0 100%;
      }
    }
  }
}

.swiper-pagination-bullet {
  background-color: #fff !important
  ;
}

@media (max-width: 1200px) {
  .banner_content-image {
    padding-top: 30px !important;
  }
}

@media (min-width: 320px) {
  .banner_content-category {
    width: 100% !important;
    border: 0 solid #000;
    padding-right: 0;
  }

  .banner_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
    place-items: center !important;
    text-align: center;
  }

  .banner_content-image {
    padding-top: 15px !important;
    padding-left: 15px;
  }
}

.category_mobi {
  transform: translateX(-500px);
  transition: all 0.3s ease;
}
.category_mobi.active {
  transform: translateX(0);
}

@media (min-width: 992px) {
  .banner_list {
    gap: 10px 10px;
    text-align: start;
  }

  .banner_content-image {
    padding-top: 16px !important;
    padding-left: 64px;
  }
}
@media (min-width: 992px) {
  .banner_list {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    align-items: none;
    place-items: initial !important;
  }

  .banner_item-link {
    color: black;
    font-size: 16px !important;
  }

  .banner_content-category {
    border-right: 1px solid #000;
    padding-right: 16px;
  }
}

@media (max-width: 1200px) {
  .banner_content-image {
    padding-top: 20px !important;
  }
}

@media (max-width: 992px) {
  .banner_container {
    flex-direction: column;
  }
  .banner_content-image {
    padding-left: 40px;
  }
}
