.music {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 80px 60px;
  justify-content: space-between;

  &_item {
    width: 100%;
  }

  &_image {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 500px;
      height: 500px;
      top: 0;
      right: 0%;
      z-index: 1;
      background: #d9d9d9;
      opacity: 0.3;
      filter: blur(100px);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      pointer-events: none;
    }
    z-index: 2;
  }
}

@media (min-width: 992px) {
  .music_item {
    width: calc(50% - 81px);
  }
}
