@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-poppins) !important;
  font-weight: 500;
}
@media (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px !important;
  }
}
.font-inter {
  font-family: var(--font-inter) !important;
}

.wishlist_title,
.checkout_title {
  display: -webkit-box;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.checkout_title {
  -webkit-line-clamp: 1;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}
input[type='checkbox'] {
  appearance: none;
  background-color: red;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 24px;
  height: 24px;
  transform: translateY(-0.075em);
  border-radius: 4px;
}
input[type='checkbox'] {
  display: grid;
  place-content: center;
}
input[type='checkbox']::before {
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type='checkbox'] {
  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 14px;
  height: 14px;
  display: none;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
}

input[type='checkbox']:checked::before {
  display: inline;
}
input[type='checkbox']::before {
  background-color: CanvasText;
}
.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.hover-iconAbout {
  transition: all 0.5s ease;
  &:hover {
    background-color: #db4444;
    color: white;
    border-color: #db4444;
    & svg * {
      stroke: black;
    }
    & svg {
      background-color: white !important;
      border-color: #e67c7c;
    }
  }
}

.swiper-pagination {
  max-height: 12px;
}
