.describe {
  color: #fafafa;
  background-color: black;
  padding: 12px 0;
  line-height: 21px;

  &_desc {
    display: flex;
    justify-content: center;
    align-items: center;

    &-name {
      margin-bottom: 0;
      font-size: 14px;
      margin-right: 8px;
      font-weight: 400;
    }

    &-link {
      font-size: 14px;
      color: #fafafa;
      line-height: 24px !important;
      font-weight: 600;
      text-decoration: underline;
    }
  }

  &_language {
    font-weight: 400;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    transition: all 0.5s ease;
    cursor: pointer;
    &-text {
      margin-right: 5px !important;
    }
    &:hover {
      color: #999999;
    }
  }
}

.navs {
  display: flex;
  align-items: center;
  margin: 0 auto;

  &_title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  &_search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-input {
      width: 243px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      input {
        font-size: 12px;
        background: #f5f5f5;
        border-radius: 4px;
        padding: 10px 35px 10px 20px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
    }

    &-icon {
      position: absolute;
      right: 12px;
    }
  }
}

.nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal !important;
}

.nav-link {
  color: black !important ;
  margin: 0 !important;
  padding-top: 0 !important;
  font-weight: 400;
  padding-bottom: 0 !important;
}

.nav-underline .nav-link {
  &:hover {
    border-bottom: 2px solid #7d8184 !important;
  }

  &.active {
    border-bottom: 2px solid #7d8184 !important;
    font-weight: 400 !important;
  }
}

.header {
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

.hover-icon {
  transition: all 0.3s ease;
  font-size: 24px;
  cursor: pointer;
}
.hover-icon:hover {
  path {
    stroke: red;
  }
}
.hover-icon.active {
  path {
    stroke: red;
  }
}
